.container{
    border: solid 1px #fff;
    width: 400px;
    color: #fff;
    background:  #24303c;
    padding: 10px;
    margin: auto;
    margin-top: 150px;
    border-radius: 5px;
    font-family: 'Calibri';
}

.container h3{
    color: red;
    font-size: 40px;
    font-family: 'Calibri';
}

.container p{
    font-size: 25px;
    font-family: 'Calibri';
    text-shadow:0 0 1.2rem rgb(2, 160, 252), 0 0 1.1rem rgb(2, 160, 252), 0 0 1.2rem rgb(2, 160, 252);
}

.container button{
    margin-top: 30px;
    padding: 10px 15px;
    background: rgb(53, 201, 206);
    border-radius: 15px;
    border: 1px solid rgb(0, 21, 255);
    letter-spacing: 2px;
    font-family: 'Calibri';
    color: #fff;
    font-size: 15px;
    text-shadow: -2px -2px 1px rgb(2, 130, 249), 2px 2px 1px  rgb(2, 130, 249), -2px 2px 1px rgb(2, 130, 249), 2px -2px 1px  rgb(2, 130, 249);
    box-shadow: 0 0 1.2rem rgb(2, 160, 252), 0 0 1.1rem rgb(2, 160, 252), 0 0 1.2rem rgb(2, 160, 252);
    cursor: pointer;
    overflow: hidden;
    transition: 0.2s;
}

.container button:hover{
    text-shadow: 0 0 1rem rgb(0, 21, 255), 0 0 1rem rgb(0, 21, 255);
    box-shadow: -2px -2px 1px rgb(2, 130, 249), 2px 2px 1px  rgb(2, 130, 249), -2px 2px 1px rgb(2, 130, 249), 2px -2px 1px  rgb(2, 130, 249);
    transition-delay: 0.1s;
    transform: scale(0.9);
}

.Link{
    text-decoration: none;
    color: #fff;
    font-family: 'Calibri';
}